/* fontface */

@font-face {
  font-family: 'Ferdinand';
  src: url('fonts/FerdinandRegular.woff2') format('woff2'),
    url('fonts/FerdinandRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Washington';
  src: url('fonts/WashingtonRegular.woff2') format('woff2'),
    url('fonts/WashingtonRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}






/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ferdinand';
  letter-spacing: 0.5rem;
}

html {
  font-family: 'Washington';
  font-size: 10px;
}

h1 {
  font-size: 6rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

p,
li {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  word-spacing: 0.3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a[href^="http"]::after,
a[href^="https://"]::after {
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./icon.png");
  padding-left: 5px;
  width: 12px;
  height: 12px;
}

body {
  line-height: 3rem;
  border-left: #a66 5px solid;
  border-right: #a66 5px solid;
}

h2+p {
  text-indent: 20px;
}

a:link {
  color: #a66;
}

a:visited {
  color: rgb(113, 69, 69);
}

a:hover,
a:focus {
  color: rgb(137, 137, 137);
  text-decoration-line: none;
}

a {
  outline: none;
}

a:active {
  color: black;
}

ul {
  list-style-position: inside;
  list-style-type: square;
  line-height: 4rem;
}

nav {
  position: fixed;
  top: 24rem;
  right: 17%;
  width: 12%;
  height: 30%;
  background-color: rgba(254, 206, 206, 0.358);
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  text-align: center;
  border: 3px solid #a66;
}

nav ul {
  list-style-type: none;
}