@font-face {
    font-family: 'Ferdinand';
    src: url('FerdinandRegular.woff2') format('woff2'),
        url('FerdinandRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Washington';
    src: url('WashingtonRegular.woff2') format('woff2'),
        url('WashingtonRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

